* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0.5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: center;
}

nav{
    border: 2px solid rgb(118, 109, 109);
}

h2{
    padding: 1rem;
    background: gold;
}

ul {
    list-style: none;
}

li{
    border-top: 1px solid #333;
}
a{
    text-decoration: none;
}